.loader {
  border: 10px solid #f3f3f3; /* Light grey border */
  border-top: 10px solid #00ff00;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

.loader {
  position: absolute;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#accountAddress {
  color: #00ff00; /* Neon green color for a futuristic look */
  background-color: #262626; /* Dark background for contrast */
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #00ff00; /* Neon green border */
  font-family: 'Courier New', monospace; /* Monospace font for a technical appearance */
  text-align: center;
  margin: 10px auto;
  width: 80%; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 255, 0, 0.4); /* Slight neon glow effect */
  overflow-wrap: break-word; /* Ensures long addresses wrap and don't overflow */
}

/* General Body Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #fff;
  background-color: #1a1a1a; /* Dark background for a futuristic feel */
  padding: 0;
  margin: 0;
}

/* Navigation Bar */
.navbar {
  background-color: #333; /* Dark grey */
  border-bottom: 2px solid #00ff00; /* Neon green border */
}

.navbar-default .navbar-brand {
  color: #00ff00; /* Neon green */
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ccc;
  text-decoration: none;
}

/* Results Content Styles */
.results-content {
  background-color: #262626; /* Dark grey background for content */
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 255, 0, 0.4); /* Neon green shadow */
}

/* Table Styles */
.table {
  color: #ccc;
}

.table thead {
  background-color: #333;
  color: #00ff00; /* Neon green */
}

.table tbody tr:hover {
  background-color: #444;
}

/* Button Styles */
.btn-primary {
  background-color: #00ff00; /* Neon green */
  border: none;
  color: #1a1a1a; /* Dark text color */
  padding: 10px 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 0; /* Sharp edges for a modern look */
  transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #00cc00; /* Slightly darker green on hover */
  color: white;
  outline: none;
}

.btn-primary:active {
  background-color: #009900; /* Even darker green when active */
  color: white;
}

/* Footer */
.footer {
  background-color: #333; /* Dark grey */
  color: #00ff00; /* Neon green */
  text-align: center;
  line-height: 60px;
  position: absolute;
  bottom: 0;
  width: 100%;
}